.footer-page{
    background-color: #2a2a28;
    padding: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw 7vw;
    gap: 2vw 7vw;
    
}


.image-section{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.images{
    margin-bottom: 1.7vw;
    cursor: pointer;
    position: relative;
    height: 5vw;
    width: 8vw;   
}

.quick-link>h3{
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2vw;
    line-height: 2.8vw;
    color: #fff;
}
.quick-link>ul{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 2vw;
    height: 4.9vw;
    flex-wrap: wrap;
    margin-bottom: 2vw;
} 

.quick-link,ul,li{
    font-family: Be Vietnam Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 1.7vw;
    color: #fff;
    list-style: none;
    text-align: left;
}
a{
    text-decoration: none;
}

.icon-social>button>svg{
    width: 2.6rem;
    height: 2.6rem;

}

.phones-link>h3{
    
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2vw;
    line-height: 2.8vw;
    color: #fff;
    text-align: left;
    margin-right: 4rem;
    margin-top: -1rem;
    
}

.phone-icon{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: left;
    margin: 1vw 0;
    color: #fff;
    
}

span{
    font-weight: 300;
    font-size: 1.8vw;
    color: #fff;
    padding-left: 1.71vw;
    font-family: Be Vietnam Pro;
    
}
.phone1> svg{
    width: 2rem;
    height: 2rem;
}

.phone2> svg{
    width: 2rem;
    height: 2rem;
}
.phone3> svg{
    width: 2rem;
    height: 2rem;
}

.careers{
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8vw;
    line-height: 2.8vw;
    color: #fff;
    text-align: left;
}
.careers >h3{

   font-family: Be Vietnam Pro;
    font-style: normal;
    font-weight: 700;
    font-size: 2.2vw;
    line-height: 2.5vw;
    color: white;
    text-transform: uppercase;
    text-align: left;
}
 
.careers-del{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    text-align: left;
    margin: 1vw 0;
    color: #fff;

    
}
 
.phone4>svg{
    width: 2rem;
    height: 2rem; 
}


.phone5>svg{
    width: 2rem;
    height: 2rem; 
}

